
:root {
    --p1: #0A0A0A;
    --p2: #4C4C4B;
    --a1: #6079FF;
    --a2: #022AFF;
    --a3: #EF89D2;
    --b0: #ffffff;
    --b1: #f1f1f1;
    --b2: #e9e9e9;
    --b3: #cfcfcf;

    --containerW: 1200px;
    --containerGap: 4%;
    --leftPanelW: 0.6 ;
    --rightPanelW: calc(1 - var(--leftPanelW) );
    
    --leftPanelWComputed: calc( var(--containerW) * var(--leftPanelW));
    --rightPanelWComputed: calc( var(--containerW) * var(--rightPanelW) - var(--containerGap) + var(--marginComputed) );
    --marginComputed: calc( (100vw - var(--containerW) ) / 2 );

    --linkBorderHeight: 4px;
}
body {
    background: var(--b1);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.link {
    color: var(--p1);
    /* font-weight: 600; */
    text-decoration: underline solid var(--linkBorderHeight) var(--a1);
}

*:focus {
    outline: 4px dashed var(--a3);
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    max-width: var(--containerW);
}